//FONTS
$bodyFont: 'Nunito', sans-serif;
$headerFont: 'Indie Flower', cursive;

//SITE COLOURS
$primaryFontColour: black;
$bodyBackground: whitesmoke;
$headerBackground: rgb(231, 182, 58);
$buttonPrimary: brown;
$buttonHover: royalblue;